/*--------------------------General----------------------------------*/
h1, h3, h4, p {
    font-family:'Ralway', sans-serif;
}

html, body, header, section {
    height: 100%;
}

/*--------------------------color----------------------------------*/

body {
    background-color: #FCF4E9;
}

h1, h3{
    color:#FCF4E9;
} 

h4, h6, p {
    color: #504956;
}

.navbar-toggler-icon {
    color: #FCF4E9  
}

/*-----------------------hero image and text--------------------------*/

/*--parrallax effect created with the help of https://www.w3schools.com/howto/howto_css_parallax.asp---*/

.parallax_index {
background-image: url(../images/basket.jpg);
height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.hero {
    height: 100%;
}

.heading {
    text-align: center;
    padding-top: 100px;
}

.heading h1 {
    font-weight: 400;
    text-shadow: 1px 1px 10px #504956;
}

.heading h3 {
    font-weight: 400;
    text-shadow: 1px 1px 10px #504956;
}

/*-----------------------nav bar--------------------------*/
.menu {
    position: fixed; 
    background: none;
    top: 10px;
    right: 6px;
    font-family: 'Ralway', sans-serif;
    z-index: 9999;
}

.button {
    padding-right: 0;
}

.navbar-toggler-icon{
    font-size: 30px;
}

.navbar-nav {
    text-align: center;
}

.navbar-collapse {
    background-color:  rgba(55, 53, 56, 0.8);
}

button:focus {
    outline: none;
}

.nav-item a {
    color: #f2f0e4;;
    font-weight: 200;
}

/*-----------------------Header--------------------------*/

/*--zindex from https://forum.freecodecamp.org/t/why-is-my-navbar-behind-other-content/62059--*/
.paw_icon{
    position: fixed;
    top: 18px;
    left: 16px;
    z-index: 9999;
}

.paw_icon a{
    color: #f2f0e4;
    font-size: 30px;
}

/*-----------------------About me--------------------------*/

.profile_picture{
   background-image: url(https://images.pexels.com/photos/720606/pexels-photo-720606.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.aboutme {
    height: 100%;
}

.introduction h4{
    font-size: 5vh;
}

.introduction a {
    color: #FCF4E9;
}

.image_break{
    background-image: url(https://images.pexels.com/photos/2693561/pexels-photo-2693561.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*-----------------------Reviews--------------------------*/

.review_background{
    background: #bad0c8;
}

.reviews {
    padding: 30px;
}

.reviewerpic img{

    display: block;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: right;
    max-width: 200px;
    height: 200px;
}

.star_rating {
    color: #504956;
}

.reviewcomment {
   text-align: center;
   padding-top: 10px;
}

.reviewcomment p {
    font-size: 18px;
}

/*-----------------------Gallery--------------------------*/

.parallax_gallery {
background-image: url(https://images.pexels.com/photos/164446/pexels-photo-164446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.gallery_img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/*-----------------------Services--------------------------*/

.parallax_services{
background-image: url(https://images.pexels.com/photos/1931383/pexels-photo-1931383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.cards_background{
    background-image: url(https://images.pexels.com/photos/374825/pexels-photo-374825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.message {
    background-color:  rgba(186, 208, 200, 0.9);
    margin: 50px 0;
    padding: 50px;
}

.message p {
    color: #FCF4E9;
}

.message a {
    color: #504956;
}

.card {
    
    background-color:  rgba(252, 244, 233, 0.5);
    max-width: 100%;
    border: 0;
}

.classic {
background-color: #93A0E1;
padding: 30px 0;
}

.deluxe {
    background-color: #E8ACA2;
    padding: 30px 0;
}

.ultimate {
    background-color: #98D29F;
    padding: 30px 0;
}

.card-body ul {
    list-style: none;
    font-family: 'Ralway', sans-serif;
    padding: 0;
}

.card-body il {
    font-family: 'Ralway', sans-serif;
}

.card-footer {
    background: none;
    border: none;
}

.card-footer a {
color: #FCF4E9;
}

/*-----------------------Contact--------------------------*/

.parallax_contact{
background-image: url(https://images.pexels.com/photos/1386422/pexels-photo-1386422.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.contact_background_image {
    background-image: url(https://images.pexels.com/photos/1367002/pexels-photo-1367002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.full_form {
   padding-top: 150px;
   margin-right: 0;
}

.background {
    background-color: rgba(186, 208, 200, 0.8);
    padding: 20px;
    width: 700px;
    text-align: center;
}

.placeholder {
    font-family: 'Ralway', sans-serif;   
}

.btn {
    background-color: #bdbad0;   
}

.btn:hover {
    background-color: #504956;
}

/*-----------------------Thank You Message--------------------------*/

.parallax_thankyou {
background-image: url(https://images.pexels.com/photos/3628100/pexels-photo-3628100.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

/*-----------------------Media Queries--------------------------*/

/*background images*/

@media only screen and (max-width: 1366px) {
  .parallax_index {
    background-attachment: scroll;
  }

  .parallax_gallery {
    background-attachment: scroll;
  }

  .parallax_services {
    background-attachment: scroll;
  }

  .cards_background{
      background-attachment: scroll;
  }

  .parallax_contact {
    background-attachment: scroll;
  }

  .contact_background_image {
      background-attachment: scroll;
  }

  .parallax_thankyou {
    background-attachment: scroll;
  }

  .profile_picture {
      background-attachment: scroll;
  }

  .image_break {
      background-attachment: scroll;
  }
}

/* index page */

@media only screen and (max-width: 992px){
    .introduction {
        background: rgba(186, 208, 200, 0.8);
        padding-top: 10px;
        text-align: center;
    }  
}

@media only screen and (min-width: 992px){
    
    .heading h1 {
        font-size: 150px;
    }

    .heading h3 {
        font-size: 100px;
    }
        
    .introduction{
        text-align: end;
    }
    
    .introduction h4{
        font-size: 5vh;
    }

    .introduction p{
        font-size: 3vh;
    }

    .image_break{
        height: 100%;
    }
}

/* gallery */

/*--Hover created with the help of https://www.w3schools.com/howto/howto_css_zoom_hover.asp--*/
@media only screen and (min-width: 992px){

.column img:hover {
    transform: scale(1.1);
}

.column img {
    transition: transform .2s;


}
}

/*--https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp--*/

@media screen and (max-width: 992px) {

  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {

  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width:767.98px){

    .lname {
        margin-top: 20px;
    }  
}

/* services */

@media screen and (max-width:991.98px){

    .card_spacing {
        margin-top: 20px;
    }
}


@media screen and (min-width:991.98px){
    
.cards_background{
    height: 100%;
}
}