/*--------------------------General----------------------------------*/
h1, h3, h4, p {
    font-family:'Ralway', sans-serif;
}

html, body, header, section {
    height: 100%;
}

/*--------------------------color----------------------------------*/

body {
    background-color: #FCF4E9;
}

h1, h3{
    color:#FCF4E9;
} 


h4, h6, p {
    color: #504956;
}

.navbar-toggler-icon {
    color: #FCF4E9  
}


/*-----------------------hero image and text--------------------------*/

.parallax {
background-image: url(../images/basket.jpg);
height: 100%;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.hero {
    height: 100%;
}

.heading {
    text-align: center;
}

h1 {
    font-size: 11vw;
    font-weight: 800;
}

h3 {
    font-size: 6vw;
    font-weight: 600;
}


/*-----------------------nav bar--------------------------*/
.menu {
    position: fixed; 
    z-index: 1 ;
    background: none;
    top: 1%;
    right: 1%;
    font-family: 'Ralway', sans-serif;
}

.button {
    padding-right: 0;
}

.navbar-collapse {
    background-color:  rgba(55, 53, 56, 0.8);
}

button:focus {
    outline: none;
}

.nav-item a {
    color: #f2f0e4;;
    font-weight: 200;
}

/*-----------------------Header--------------------------*/
.paw_icon{
    position: absolute;
    top: 18px;
    left: 16px;
}

.paw_icon a{
    color: #f2f0e4;
    font-size: large;
}